@tailwind base;
@tailwind components;
@tailwind utilities;

#recommendationsButton {
  justify-self:center;
}

#sidebar {
  padding:15px;
  float:left;
  width: 15%;
  position: fixed;
}

#actionContainer {
  float:right;
  width:85%;
}

.recommendation {
  max-width:250px;
  display: inline-block;
  margin: 20px;
}

.genreButton {
margin: 5px;
padding: 5px;
}

.attributeContainer {
  display: inline-block;
}

.attributeRange {
  width: 80%;
}

.attributeValue {
  margin: 15px;
}